@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  overflow-x: hidden;
}


@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91;
  }
}

@layer utilities {
  .group:hover .group-spin {
    animation-play-state: paused;
  }

  .group:hover .peer {
    animation-play-state: paused;
  }

  .custom-bg {
    @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100px, 100px);
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 1000px rgba(27, 27, 27, 0.2) inset !important; 
  -webkit-text-fill-color: rgb(225, 225, 225) !important; 
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid rgba(254, 254, 91, 0.3); 
}

